scripts/rulebased/__pycache__/firstperson.cpython-38.pyc
scripts/rulebased/__pycache__/locative.cpython-38.pyc
scripts/rulebased/__pycache__/reflexive.cpython-38.pyc
scripts/rulebased/__pycache__/secondperson.cpython-38.pyc
scripts/ssfapi/__pycache__/ssfAPI_intra.cpython-38.pyc
scripts/ssfapi/__pycache__/ssfAPI.cpython-38.pyc
scripts/rulebased/__pycache__/relative.cpython-38.pyc
